* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    background-color: rgb(0, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    color: #FFF;
    font-size: 36px;
    text-shadow: -1px 4px 5px #f00;
}
.model {
    display: flex;
    justify-content: center;
    padding-left: 130px;
    padding-right: 130px;

}
.section-body {
    width: 100%;
}
.section-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    background-image: linear-gradient(rgb(0, 183, 255),#5555b9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.section-form-item {
    margin: 15px;
}
.section-form-item label {
    text-transform: capitalize;
    font-size: 15px;
    font-family: arial;
    font-weight: 700;
    margin-right: 10px;
    color: #FFF;
    text-shadow: -1px 1px 3px #f00;
}
.section-form-item input {
    
}
.section-form-item.bt {
    display: flex;
    
}
.button {
    background-image: linear-gradient(#ccc, #0ff);
    margin-right: 10px;
    width: 60px;
    height: 25px;
    font-size: 16px;
    font-family: 'Permanent Marker';
    color: #000;
}
.section-tabela {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}
.section-tabela-head {
    font-size: 19px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #000;
    text-align: center;
}
.section-tabela-campos {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    border: 1px solid #000;
}




